/* variables */
body {
  /* Colors */
  --gw-primary-bg: #191919;
  --gw-secondary-bg: #2B2B2B;
  --gw-menu-color: #E8E8E8;
  --gw-tittle-color: #F2F2F2;
  --gw-paragraph-color: #C5C5C5;
  --gw-gray: #484848;
  --gw-black: #191919;
  --gw-brand-color: #EB4719;
  --gw-white: #FFFFFF;
  /* Font sizes */
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-48: 48px;
  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* Line heights */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  /* Container */
  --container-max-width: 1200px;
}

/* font */
/* Regular (400) */
@font-face {
  font-family: 'Instrument Sans';
  src: url("/public/assets/fonts/InstrumentSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: 'Instrument Sans';
  src: url("/public/assets/fonts/InstrumentSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Semi-Bold (600) */
@font-face {
  font-family: 'Instrument Sans';
  src: url("/public/assets/fonts/InstrumentSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: 'Instrument Sans';
  src: url("/public/assets/fonts/InstrumentSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Instrument Sans', sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

/* home */
.gw-header {
  position: sticky;
  top: 20px;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--gw-secondary-bg);
  box-shadow: inset 0 0 0 1px #373737;
}

.gw-logo a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gw-navigation ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.gw-navigation ul a {
  color: var(--gw-menu-color);
  font-size: var(--font-size-14);
  transition: color 0.3s;
}

.gw-navigation ul a:hover {
  color: var(--gw-brand-color);
}

.gw-navigation ul a:active {
  color: var(--gw-brand-color);
}

.gw-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gw-theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  color: #D5D5D5;
  background-color: var(--gw-gray);
  box-shadow: inset 0 0 0 1px #5E5E5E, 0 3px 6px rgba(255, 255, 255, 0.1);
}

.gw-theme-toggle svg {
  width: 16px;
  height: 16px;
}

.gw-signup-button {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--gw-white);
  box-shadow: inset 0 0 0 1px #A9A9A9, 0 4px 4px rgba(255, 255, 255, 0.16);
}

.gw-signup-button a {
  font-size: var(--font-size-14);
  line-height: var(--line-height-normal);
  color: var(--gw-black);
  display: flex;
  align-items: center;
  justify-content: center;
}
