<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<header class="gw-header">
		<!-- Site Logo -->
		<div class="gw-logo">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="lucide lucide-git-branch-icon lucide-git-branch">
				<path d="M15 6a9 9 0 0 0-9 9V3" />
				<circle cx="18" cy="6" r="3" />
				<circle cx="6" cy="18" r="3" />
			</svg>
			<a href="/">Gitwire1</a>
		</div>

		<!-- Navigation -->
		<nav class="gw-navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/features">Features</a></li>
				<li><a href="/pricing">Pricing</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/docs">Docs</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>

		<!-- Actions -->
		<div class="gw-actions">
			<!-- Theme Toggle -->
			<button id="theme-toggle">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
					class="lucide lucide-sun-medium-icon lucide-sun-medium">
					<circle cx="12" cy="12" r="4" />
					<path d="M12 3v1" />
					<path d="M12 20v1" />
					<path d="M3 12h1" />
					<path d="M20 12h1" />
					<path d="m18.364 5.636-.707.707" />
					<path d="m6.343 17.657-.707.707" />
					<path d="m5.636 5.636.707.707" />
					<path d="m17.657 17.657.707.707" />
				</svg>
			</button>

			<!-- Signup Button -->
			<button><a href="/signup">Sign Up</a></button>
		</div>
	</header>
	<main>
		<p class="test">Hello, World!</p>
	</main>
</body>

</html>
