fieldset {
	border: 1px solid var(--wp--preset--color--platinum);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: var(--wp--preset--color--dark-silver);
	background-color: var(--wp--preset--color--white);
	border: 1px solid var(--wp--preset--color--light-silver);
	border-radius: 2px;
	padding: 0.5rem 0.625rem;

	&:focus {
		color: inherit;
		outline-color: var(--wp--preset--color--crayola);
	}
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	font-family: var(--wp--preset--font-family--josefin-sans);
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 2.6875rem;
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--raisin-black);
	border-radius: 0;
	padding: 0.1875rem 1.5rem 0.125rem;
	cursor: pointer;
	user-select: none;

	&:hover {
		color: var(--wp--preset--color--white);
		box-shadow: 0 0.625rem 1.25rem 0 rgba(1, 1, 1, 0.1);
	}
}

[disabled] {
	cursor: default;
	opacity: 0.5;
}
