// margin
.margin-0 {
	margin: 0 !important;
}
.margin-top--7 {
	margin-top: -0.4375rem !important;
}
.margin-top--5 {
	margin-top: -0.3125rem !important;
}
.margin-top--3 {
	margin-top: -0.1875rem !important;
}
.margin-top--1 {
	margin-top: -0.0625rem !important;
}
.margin-top-0 {
	margin-top: 0 !important;
}
.margin-top-0 {
	margin-top: 0 !important;
}
.margin-top-5 {
	margin-top: 0.3125rem !important;
}
.margin-top-10 {
	margin-top: 0.625rem !important;
}
.margin-top-15 {
	margin-top: 0.9375rem !important;
}
.margin-top-20 {
	margin-top: 1.25rem !important;
}
.margin-top-25 {
	margin-top: 1.5625rem !important;
}
.margin-top-30 {
	margin-top: 1.875rem !important;
}
.margin-top-35 {
	margin-top: 2.1875rem !important;
}
.margin-top-40 {
	margin-top: 2.5rem !important;
}
.margin-top-45 {
	margin-top: 2.8125rem !important;
}
.margin-top-50 {
	margin-top: 3.125rem !important;
}
.margin-top-55 {
	margin-top: 3.4375rem !important;
}
.margin-top-60 {
	margin-top: 3.75rem !important;
}
.margin-top-65 {
	margin-top: 4.0625rem !important;
}
.margin-top-70 {
	margin-top: 4.375rem !important;
}
.margin-top-75 {
	margin-top: 4.6875rem !important;
}
.margin-top-80 {
	margin-top: 5rem !important;
}
.margin-top-85 {
	margin-top: 5.3125rem !important;
}
.margin-top-90 {
	margin-top: 5.625rem !important;
}
.margin-top-95 {
	margin-top: 5.9375rem !important;
}
.margin-top-100 {
	margin-top: 6.25rem !important;
}
.margin-bottom--7 {
	margin-bottom: -0.4375rem !important;
}
.margin-bottom--5 {
	margin-bottom: -0.3125rem !important;
}
.margin-bottom--3 {
	margin-bottom: -0.1875rem !important;
}
.margin-bottom--1 {
	margin-bottom: -0.0625rem !important;
}
.margin-bottom-0 {
	margin-bottom: 0 !important;
}
.margin-bottom-5 {
	margin-bottom: 0.3125rem !important;
}
.margin-bottom-10 {
	margin-bottom: 0.625rem !important;
}
.margin-bottom-15 {
	margin-bottom: 0.9375rem !important;
}
.margin-bottom-20 {
	margin-bottom: 1.25rem !important;
}
.margin-bottom-25 {
	margin-bottom: 1.5625rem !important;
}
.margin-bottom-30 {
	margin-bottom: 1.875rem !important;
}
.margin-bottom-35 {
	margin-bottom: 2.1875rem !important;
}
.margin-bottom-40 {
	margin-bottom: 2.5rem !important;
}
.margin-bottom-45 {
	margin-bottom: 2.8125rem !important;
}
.margin-bottom-50 {
	margin-bottom: 3.125rem !important;
}
.margin-bottom-55 {
	margin-bottom: 3.4375rem !important;
}
.margin-bottom-60 {
	margin-bottom: 3.75rem !important;
}
.margin-bottom-65 {
	margin-bottom: 4.0625rem !important;
}
.margin-bottom-70 {
	margin-bottom: 4.375rem !important;
}
.margin-bottom-75 {
	margin-bottom: 4.6875rem !important;
}
.margin-bottom-80 {
	margin-bottom: 5rem !important;
}
.margin-bottom-85 {
	margin-bottom: 5.3125rem !important;
}
.margin-bottom-90 {
	margin-bottom: 5.625rem !important;
}
.margin-bottom-95 {
	margin-bottom: 5.9375rem !important;
}
.margin-bottom-100 {
	margin-bottom: 6.25rem !important;
}

// padding
.padding-0 {
	padding: 0;
}
.padding-top-0 {
	padding-top: 0;
}
.padding-top-5 {
	padding-top: 0.3125rem;
}
.padding-top-10 {
	padding-top: 0.625rem;
}
.padding-top-15 {
	padding-top: 0.9375rem;
}
.padding-top-20 {
	padding-top: 1.25rem;
}
.padding-top-25 {
	padding-top: 1.5625rem;
}
.padding-top-30 {
	padding-top: 1.875rem;
}
.padding-top-35 {
	padding-top: 2.1875rem;
}
.padding-top-40 {
	padding-top: 2.5rem;
}
.padding-top-45 {
	padding-top: 2.8125rem;
}
.padding-top-50 {
	padding-top: 3.125rem;
}
.padding-top-55 {
	padding-top: 3.4375rem;
}
.padding-top-60 {
	padding-top: 3.75rem;
}
.padding-top-65 {
	padding-top: 4.0625rem;
}
.padding-top-70 {
	padding-top: 4.375rem;
}
.padding-top-75 {
	padding-top: 4.6875rem;
}
.padding-top-80 {
	padding-top: 5rem;
}
.padding-top-85 {
	padding-top: 5.3125rem;
}
.padding-top-90 {
	padding-top: 5.625rem;
}
.padding-top-95 {
	padding-top: 5.9375rem;
}
.padding-top-100 {
	padding-top: 6.25rem;
}
.padding-bottom-0 {
	padding-bottom: 0;
}
.padding-bottom-5 {
	padding-bottom: 0.3125rem;
}
.padding-bottom-10 {
	padding-bottom: 0.625rem;
}
.padding-bottom-15 {
	padding-bottom: 0.9375rem;
}
.padding-bottom-20 {
	padding-bottom: 1.25rem;
}
.padding-bottom-25 {
	padding-bottom: 1.5625rem;
}
.padding-bottom-30 {
	padding-bottom: 1.875rem;
}
.padding-bottom-35 {
	padding-bottom: 2.1875rem;
}
.padding-bottom-40 {
	padding-bottom: 2.5rem;
}
.padding-bottom-45 {
	padding-bottom: 2.8125rem;
}
.padding-bottom-50 {
	padding-bottom: 3.125rem;
}
.padding-bottom-55 {
	padding-bottom: 3.4375rem;
}
.padding-bottom-60 {
	padding-bottom: 3.75rem;
}
.padding-bottom-65 {
	padding-bottom: 4.0625rem;
}
.padding-bottom-70 {
	padding-bottom: 4.375rem;
}
.padding-bottom-75 {
	padding-bottom: 4.6875rem;
}
.padding-bottom-80 {
	padding-bottom: 5rem;
}
.padding-bottom-85 {
	padding-bottom: 5.3125rem;
}
.padding-bottom-90 {
	padding-bottom: 5.625rem;
}
.padding-bottom-95 {
	padding-bottom: 5.9375rem;
}
.padding-bottom-100 {
	padding-bottom: 6.25rem;
}

// border - width
.border-0 {
	border-width: 0;
}
.border-1 {
	border-width: 1px;
}
.border-2 {
	border-width: 2px;
}
.border-3 {
	border-width: 3px;
}
.border-4 {
	border-width: 4px;
}
.border-5 {
	border-width: 5px;
}
.border-top-0 {
	border-top-width: 0;
}
.border-top-1 {
	border-top-width: 1px;
}
.border-top-2 {
	border-top-width: 2px;
}
.border-top-3 {
	border-top-width: 3px;
}
.border-top-4 {
	border-top-width: 4px;
}
.border-top-5 {
	border-top-width: 5px;
}
.border-right-0 {
	border-right-width: 0;
}
.border-right-1 {
	border-right-width: 1px;
}
.border-right-2 {
	border-right-width: 2px;
}
.border-right-3 {
	border-right-width: 3px;
}
.border-right-4 {
	border-right-width: 4px;
}
.border-right-5 {
	border-right-width: 5px;
}
.border-bottom-0 {
	border-bottom-width: 0;
}
.border-bottom-1 {
	border-bottom-width: 1px;
}
.border-bottom-2 {
	border-bottom-width: 2px;
}
.border-bottom-3 {
	border-bottom-width: 3px;
}
.border-bottom-4 {
	border-bottom-width: 4px;
}
.border-bottom-5 {
	border-bottom-width: 5px;
}
.border-left-0 {
	border-left-width: 0;
}
.border-left-1 {
	border-left-width: 1px;
}
.border-left-2 {
	border-left-width: 2px;
}
.border-left-3 {
	border-left-width: 3px;
}
.border-left-4 {
	border-left-width: 4px;
}
.border-left-5 {
	border-left-width: 5px;
}

// border - style
.border-solid {
	border-style: solid;
}
.border-dashed {
	border-style: dashed;
}
.border-dotted {
	border-style: dotted;
}
.border-double {
	border-style: double;
}
.border-none {
	border-style: none;
}

// border -color
.border-transparent {
	border-color: transparent;
}
.border-light-silver {
	border-color: var(--wp--preset--color--light-silver);
}
.border-dark-silver {
	border-color: var(--wp--preset--color--dark-silver);
}

// text - transform
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

// button
.button {
	@extend button;

	&.is-style-outline {
		border-width: 2px;
		border-style: solid;
		padding: 0.0625rem 1.5rem 0;
	}

	&.is-style-outline {
		color: var(--wp--preset--color--raisin-black);
		background-color: var(--wp--preset--color--white);

		&:hover {
			color: var(--wp--preset--color--raisin-black);
		}
	}
}
.button-crayola {
	color: var(--wp--preset--color--raisin-black);
	background-color: var(--wp--preset--color--crayola);

	&:hover {
		color: var(--wp--preset--color--raisin-black);
	}

	&.is-style-outline {
		color: var(--wp--preset--color--crayola);
		background-color: var(--wp--preset--color--white);

		&:hover {
			color: var(--wp--preset--color--crayola);
		}
	}
}
.button-celtic-blue {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--celtic-blue);

	&:hover {
		color: var(--wp--preset--color--white);
	}

	&.is-style-outline {
		color: var(--wp--preset--color--celtic-blue);
		background-color: var(--wp--preset--color--white);

		&:hover {
			color: var(--wp--preset--color--celtic-blue);
		}
	}
}
.button-bright-maroon {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--bright-maroon);

	&:hover {
		color: var(--wp--preset--color--white);
	}

	&.is-style-outline {
		color: var(--wp--preset--color--bright-maroon);
		background-color: var(--wp--preset--color--white);

		&:hover {
			color: var(--wp--preset--color--bright-maroon);
		}
	}
}

// title
.title-preset-1 {
	position: relative;
	text-align: center;
	padding-bottom: 1.5rem;

	&:after {
		content: "";
		height: 1px;
		width: 50px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -25px;
		background-color: var(--wp--preset--color--light-silver);
	}
}
