.gw-header {
	position: sticky;
	top: 20px;
	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	border-radius: 16px;
	background-color: var(--gw-secondary-bg);
	box-shadow: inset 0 0 0 1px #373737;

	&__logo a {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__navigation ul {
		display: flex;
		align-items: center;
		gap: 24px;

		a {
			color: var(--gw-menu-color);
			font-size: var(--font-size-14);
			transition: color 0.3s;

			&:hover {
				color: var(--gw-brand-color);
			}

			&:active {
				color: var(--gw-brand-color);
			}
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 8px;

		.gw-theme-toggle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			border-radius: 8px;
			color: #D5D5D5;
			background-color: var(--gw-gray);
			box-shadow: inset 0 0 0 1px #5E5E5E, 0 3px 6px rgba(255, 255, 255, 0.1);

			svg {
				width: 16px;
				height: 16px;
			}
		}

		.gw-signup-button {
			padding: 4px 8px;
			border-radius: 8px;
			background-color: var(--gw-white);
			box-shadow: inset 0 0 0 1px #A9A9A9, 0 4px 4px rgba(255, 255, 255, 0.16);

			a {
				font-size: var(--font-size-14);
				line-height: var(--line-height-normal);
				color: var(--gw-black);
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					width: 14px;
					height: 14px;
				}
			}
		}
	}
}
