// Hero Section Styles
.gw-hero {
	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto 156px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		padding: 80px 0;
	}

	&__title {
		font-family: 'Instrument Sans', sans-serif;
		color: var(--gw-tittle-color);
		line-height: 115%;
		font-size: 72px;
		font-weight: 600;
	}

	&__description {
		color: var(--gw-paragraph-color);
		font-size: var(--font-size-18);
		line-height: var(--line-height-normal);
		margin-top: 0px;
		margin-bottom: 0px;
	}

	&__cta-btn {
		display: block;
		margin-top: 8px;
		font-size: var(--font-size-14);
		line-height: var(--line-height-normal);
		background-color: var(--gw-brand-color);
		padding: 4px 11px;
		border-radius: 10px;
		box-shadow: inset 0 0 0 1px #C60303, inset 0 4px 4px rgba(235, 213, 213, 0.3), 0 4px 7px rgba(198, 0, 0, 0.1);

		a {
			color: var(--gw-white);
			display: flex;
			align-items: center;
			gap: 4px;
		}
	}

	&__video-wrapper {
		width: 100%;
		height: 620px;
		background-color: #2b2b2b;
		border-radius: 28px;
		padding: 48px 12px 12px;
	}


	&__video {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		background: linear-gradient(to top, #f7f7f700 0%, #191919 93%);
	}

	&__video-play-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60px;
		height: 60px;
		border-radius: 12px;
		background-color: #888888;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

// Features Section Styles
.gw-features {
	margin-bottom: 156px;

	&__title {
		color: var(--gw-tittle-color);
		line-height: var(--line-height-tight);
		font-size: var(--font-size-48);
		font-weight: 500;
		text-align: center;
		margin-bottom: 56px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 24px 32px;
		border-right: 1px solid var(--gw-secondary-bg);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

		&:nth-child(4n),
		&:last-child {
			border-right: 0;
		}
	}

	&__item-icon {
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--gw-white);
		background-color: var(--gw-gray);
		box-shadow: inset 0 0 0 1px #616161;
		border-radius: 11px;
		margin-bottom: 16px;
	}

	&__item-title {
		font-size: var(--font-size-18);
		color: var(--gw-tittle-color);
		line-height: var(--line-height-tight);
		font-weight: 500;
	}

	&__item-description {
		color: var(--gw-paragraph-color);
		font-size: var(--font-size-16);
		line-height: var(--line-height-normal);
	}
}

// CTA Section Styles
.gw-cta {
	margin-bottom: 156px !important;

	&__inner {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
		width: 100%;
		max-width: 970px;
		height: 329px;
		margin: 0 auto;
		background-color: var(--gw-brand-color);
		border-radius: 24px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 16px;
		text-align: center;
	}

	&__title {
		color: var(--gw-tittle-color);
		font-size: var(--font-size-32);
		font-weight: 500;
	}

	&__description {
		color: var(--gw-paragraph-color);
		font-size: var(--font-size-14);
	}

	&__description {
		color: #FFD9D9;
		font-size: var(--font-size-14);
		line-height: var(--line-height-normal);
	}

	&__actions {
		display: flex;
		justify-content: center;
		gap: 16px;
	}

	&__button {
		border-radius: 8px;
		font-size: var(--font-size-14);
		font-weight: 500;
		line-height: var(--line-height-normal);

		&--primary {
			background-color: var(--gw-white);
			color: #191919;
			box-shadow:
				inset 0 0 0 1px #FD1717,
				inset 0 -4px 4px rgba(70, 70, 70, 0.25),
				0 4px 4px rgba(255, 255, 255, 0.16);
		}

		&--secondary {
			background-color: #2E2E2E;
			color: var(--gw-white);
			box-shadow:
				inset 0 4px 4px rgba(150, 150, 150, 0.3),
				0 4px 7px rgba(0, 0, 0, 0.12);
		}

		a {
			color: inherit;
			display: flex;
			align-items: center;
			gap: 4px;
			padding: 4px 12px;

			svg {
				color: #8F8F8F;
				width: 14px;
				height: 14px;
			}
		}
	}

	&__shape {
		z-index: -1;
		position: absolute;
		top: 0;
	}
}

// FAQ Section Styles
.gw-faq {
	margin-bottom: 156px !important;
	padding: 0 24px;
	align-items: start !important;

	&__content {
		gap: 16px !important;
	}

	&__accordion {
		width: 100%;
		max-width: 564px;

		&-item {
			padding: 24px 0;
			border-bottom: 1px solid #525252;

			&:last-child {
				border-bottom: none;
			}
		}

		.wp-block-accordion-heading__toggle-icon {
			display: none;
		}

		.wp-block-accordion-heading__toggle {
			position: relative;
		}

		/* Horizontal line SVG */
		.wp-block-accordion-heading__toggle::before {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 12C6 11.8011 6.07902 11.6103 6.21967 11.4697C6.36032 11.329 6.55109 11.25 6.75 11.25H17.25C17.4489 11.25 17.6397 11.329 17.7803 11.4697C17.921 11.6103 18 11.8011 18 12C18 12.1989 17.921 12.3897 17.7803 12.5303C17.6397 12.671 17.4489 12.75 17.25 12.75H6.75C6.55109 12.75 6.36032 12.671 6.21967 12.5303C6.07902 12.3897 6 12.1989 6 12Z' fill='%23B8B8B8'/%3E%3C/svg%3E");
		}

		/* Vertical line SVG */
		.wp-block-accordion-heading__toggle::after {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		/* Open state => hide vertical line */
		.wp-block-accordion-item.is-open .wp-block-accordion-heading__toggle::after {
			background-image: none;
		}

		/* Default state => show vertical line */
		.wp-block-accordion-heading__toggle::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 6C12.1989 6 12.3897 6.07902 12.5303 6.21967C12.671 6.36032 12.75 6.55109 12.75 6.75V17.25C12.75 17.4489 12.671 17.6397 12.5303 17.7803C12.3897 17.921 12.1989 18 12 18C11.8011 18 11.6103 17.921 11.4697 17.7803C11.329 17.6397 11.25 17.4489 11.25 17.25V6.75C11.25 6.55109 11.329 6.36032 11.4697 6.21967C11.6103 6.07902 11.8011 6 12 6Z' fill='%23B8B8B8'/%3E%3C/svg%3E");
		}
	}

}