.gw-header {
	position: sticky;
	top: 20px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	border-radius: 16px;
	background-color: var(--gw-secondary-bg);
	box-shadow: inset 0 0 0 1px #373737;
}

.gw-logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.gw-navigation ul {
	display: flex;
	align-items: center;
	gap: 24px;

	li a {
		color: var(--gw-menu-color);
		font-size: var(--font-size-16);
		transition: color 0.3s;

		&:hover {
			color: var(--gw-brand-color);
		}

		&:active {
			color: var(--gw-brand-color);
		}
	}
}

.gw-actions {
	display: flex;
	align-items: center;
	gap: 8px;

}

.gw-theme-toggle {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 4px;
	border-radius: 8px;
	color: #D5D5D5;
	background-color: var(--gw-gray);
	box-shadow: inset 0 0 0 1px #5E5E5E, 0 3px 6px rgba(255, 255, 255, 0.1);

	&:hover {
		color: #D5D5D5;
		box-shadow: inset 0 0 0 1px #5E5E5E, 0 3px 6px rgba(255, 255, 255, 0.1);
	}
}
