a {
	&:hover {
		color: var(--wp--preset--color--crayola);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word;
}

p {
	word-wrap: break-word;
}

table {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		border: 1px solid var(--wp--preset--color--platinum);
		padding: 0.5rem 0.625rem;
	}

	th {
		background-color: var(--wp--preset--color--cultured);
	}
}

pre {
	background-color: var(--wp--preset--color--cultured);
	border: 1px solid var(--wp--preset--color--platinum);
	padding: 1.25rem;
	overflow: auto;
}

code {
	background-color: var(--wp--preset--color--platinum);
}
