body{
	--gw-primary-bg: #191919;
	--gw-secondary-bg: #2B2B2B;
	--gw-menu-color: #E8E8E8;
	--gw-tittle-color: #F2F2F2;
	--gw-paragraph-color: #C5C5C5;
	--gw-gray: #484848;
	--gw-brand-color: #EB4719;
}
