body {
	/* Colors */
	--gw-primary-bg: #191919;
	--gw-secondary-bg: #2B2B2B;
	--gw-menu-color: #E8E8E8;
	--gw-tittle-color: #F2F2F2;
	--gw-paragraph-color: #C5C5C5;
	--gw-gray: #484848;
	--gw-brand-color: #EB4719;
	--gw-white: #FFFFFF;

	/* Font sizes */
	--font-size-14: 14px;
	--font-size-16: 16px;
	--font-size-18: 18px;
	--font-size-24: 24px;
	--font-size-32: 32px;
	--font-size-48: 48px;

	/* Font weights */
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Line heights */
	--line-height-tight: 1.2;
	--line-height-normal: 1.5;
}
